In [7]:
a=10
b=20
c=a/b
d=a*b
print(c)
print(d)
type(a)

0.5
200

int

In [8]:
print("hello world")

hello world

In [9]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [10]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [11]:
#identifiers in above two commands#
8/4

2.0

In [12]:
8//3

2

In [13]:
"8" in 'Late Night ate'

False

In [14]:
'8' not in 'Late Night ate'

True

In [15]:
13<<3 #multiply 13 by 2 ki power 3

104

In [16]:
13>>3 #divide 13 by 2ki power 3

1

In [17]:
a=3+2j
type(a)

complex

In [18]:
t=[2,4,6,'hi',5+3j,[3,8]]

In [19]:
type(t)

list

In [20]:
print(t)

[2, 4, 6, 'hi', (5+3j), [3, 8]]

In [21]:
len(t)

6

In [22]:
t=(2,4,6,'hi',5+3j,[3,8])
type(t)

tuple

In [23]:
s = "THIS IS PYTHON CLASS"
len(s)

20

In [24]:
s[0]

'T'

In [25]:
s[len(s)-1]

'S'

In [26]:
s[-3]

'A'

In [27]:
#slicing  s[start : stop(not included) : stepsize]
s[2:6:1]

'IS I'

In [28]:
s[2:5]

'IS '

In [29]:
s[:8]

'THIS IS '

In [30]:
s[-9:]

'HON CLASS'

In [31]:
t = " A sample python statement"

In [32]:
t[-11:-18:-1]

'nohtyp '

In [33]:
t[15:9:-1]

'nohtyp'

In [34]:
t[::-1]

'tnemetats nohtyp elpmas A '

In [35]:
q=[2,4,6,'hi',5+3j,[3,8]]
q[3][1]

'i'

In [36]:
d={'a':34,'b':45,'c':[3,4,5,6,7]}

In [37]:
d['c'][2]

5

In [38]:
d1=[{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]

In [39]:
d1[1]

66

In [40]:
d1[2]['66'][0]['00'][1]

'hi'

In [41]:
d1[2]['66'][1][1]

'w'

In [42]:
# item insertion

In [43]:
s='468hi3.4'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'hi',3.4}

In [44]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [45]:
len(s), len(a), len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [46]:
# concatenation
'hi'+'k'

'hik'

In [47]:
[4,5]+[3,6]

[4, 5, 3, 6]

In [48]:
(4,5)+(3,6)

(4, 5, 3, 6)

In [49]:
'hi'*3

'hihihi'

In [50]:
s+='k'
s

'468hi3.4k'

In [51]:
s[3:]

'hi3.4k'

In [52]:
s=s[:3]+'JobhiAapjnd'+s[3:]

In [53]:
s

'468JobhiAapjndhi3.4k'

In [54]:
a

[4, 6, 8, 'hi', 3.4]

In [55]:
a+=['bye']

In [56]:
a

[4, 6, 8, 'hi', 3.4, 'bye']

In [57]:
a=a[:2]+[39]+a[2:]
a

[4, 6, 39, 8, 'hi', 3.4, 'bye']

In [58]:
b+=('bye',)
b

(4, 6, 8, 'hi', 3.4, 'bye')

In [59]:
b = b[:2] + ('bye',) + b[2:]   
b

(4, 6, 'bye', 8, 'hi', 3.4, 'bye')

In [60]:
# args and kwargs
(*a,*b,*s)

(4,
 6,
 39,
 8,
 'hi',
 3.4,
 'bye',
 4,
 6,
 'bye',
 8,
 'hi',
 3.4,
 'bye',
 '4',
 '6',
 '8',
 'J',
 'o',
 'b',
 'h',
 'i',
 'A',
 'a',
 'p',
 'j',
 'n',
 'd',
 'h',
 'i',
 '3',
 '.',
 '4',
 'k')

In [61]:
c[99] = [86,'ekvalue']
c

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue']}

In [62]:
c2={'a':45,'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue']}
{'a': 45, 'b': 35}

In [63]:
{**c,**c2} #kwargs

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue'], 'a': 45, 'b': 35}

In [64]:
{*c2,*c} #args

{4, 8, 99, 'a', 'b'}

In [65]:
# change the value
# s[0]='A'  not possible
a[0]='A'

In [66]:
a

['A', 6, 39, 8, 'hi', 3.4, 'bye']

In [67]:
 #b[0]='A' #not possible

In [68]:
s+='k'
s

'468JobhiAapjndhi3.4kk'

In [69]:
# Item deletion 
# del s[0]  not possible
# del a[0] done
# del b[0] not possible
# del c[4] done

# Item assignment 
# s[0] = 'A' not possible
# a[0] = 'A' done
# b[0]='A' not possible
# c[o]= 'A' done

In [70]:
c[0]='A'

In [71]:
c

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue'], 0: 'A'}

In [72]:
m=None

In [73]:
bool('False') #anything non-zero or non empty is true

True

In [74]:
print(bool(' '),
      bool([]),
      bool({}),
      bool(()),
      bool(-1),
      bool(45),
      bool([{}]),)

True False False False True True True

In [75]:
a=34
b=34.5
c=34+5j
d='hello'
e=[3,4,5]
f={3,4,5}
g={3:[4,5]}
h={3,4,5}

In [76]:
# Data type built in functions #
# dict = keys, values, update , get, pop
# set : add, difference, union, pop, remove
# str : upper, lower, find, split , strip, join, format, count
# list : append, sort , count , copy , insert , remove , index, pop
# tuple: count , index

In [77]:
d=d.upper()

In [78]:
d

'HELLO'

In [79]:
d.lower()

'hello'

In [80]:
d.capitalize()

'Hello'

In [81]:
d

'HELLO'

In [82]:
d.split()

['HELLO']

In [83]:
d.split('e')

['HELLO']

In [84]:
d.strip('ohl')

'HELLO'

In [85]:
'-'.join('wars')

'w-a-r-s'

In [87]:
'#'.join('hi this is a new string'.split())

'hi#this#is#a#new#string'

In [88]:
'hi this is a new string'. replace(' ','#')

'hi#this#is#a#new#string'

In [90]:
d.count('L')

2

In [92]:
x=20;
y=30;
# z='EK aisa data jo 20 to 30 hai'
z='EK aisa data jo %d to %d hai'%(x,y)

In [93]:
z

'EK aisa data jo 20 to 30 hai'

In [94]:
# using format function 
z= 'Ek aisa data jo {} to {} hai' 
z= z.format (x,y)

In [95]:
z

'Ek aisa data jo 20 to 30 hai'

In [96]:

z1=' Ek aisa data jo {0} to {1} hai lekin {0} hi kaafi hai'
z1.format(x,y)

' Ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [98]:
# using f string
zf= f' Ek aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'
zf

' Ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [100]:
e.append(45)    
e

[3, 4, 5, 45, 45]

In [102]:
e.append('somedata')

In [103]:
e

[3, 4, 5, 45, 45, 'somedata']

In [104]:
e.append(34)

In [109]:
e1=['hi','awesome','good','byee']

In [110]:
e1.sort()

In [111]:
e1

['awesome', 'byee', 'good', 'hi']

In [116]:
e1.sort(key=len, reverse = True)

In [117]:
e1

['awesome', 'byee', 'good', 'hi']

In [119]:
k=e.pop()
k

'somedata'

In [120]:
e

[3, 4, 5, 45, 45]

In [121]:
e.sort()

In [122]:
e

[3, 4, 5, 45, 45]

In [125]:
type(g.keys())

dict_keys

In [124]:
g

{3: [4, 5]}

In [128]:
list(g.keys())[0]

3

In [130]:
g.get('Z','oh no')

'oh no'

In [131]:
e3=e
e3

[3, 4, 5, 45, 45]

In [132]:
e3.append(60)
e3

[3, 4, 5, 45, 45, 60]

In [133]:
e

[3, 4, 5, 45, 45, 60]

In [139]:
# deep copy vs shallow copy

In [134]:
e4=e.copy()

In [135]:
e4

[3, 4, 5, 45, 45, 60]

In [136]:
e4.append(34)

In [137]:
e4

[3, 4, 5, 45, 45, 60, 34]

In [138]:
e

[3, 4, 5, 45, 45, 60]

In [140]:
# suites in python 

a=10;
if(a>5):
    print('or bhai')
    if(a<100):
        print('ki haal ')
    print('bhdiya bhai')
elif(a<-20):
    print('tu bta bhai')
elif(a==3):
    print('kya bhai !')
else:
    print('bhai hal chaal tere ')

or bhai
ki haal
bhdiya bhai

In [141]:
#  conditional statement
 # . if-elif-else
#looping
 #  while-else
 # for-else
 #continue-break
#error handling
 # try-except-else-finally
#user defined function
 # def
#classes
 # class

In [142]:
a=20
while a>0:
    print('hellooo',a)
    a-=3
    if(a==11):
        break
    if(a<10):
        continue
    print('one more')

hellooo 20
one more
hellooo 17
one more
hellooo 14

In [145]:
# for-each
for i in 'hello' :
 print(i)

h
e
l
l
o

In [4]:
for i in range(1,7):
    print(i *'*')

*
**
***
****
*****
******