In [4]:
# for(int i=0;i<11;i+=3){
#     kahani
# }

# foreach(int i in somearray){
#     do something
# }


# for-each 
# for object in collection:
#     pass

In [5]:
list(range(1,100,1))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [6]:
a=[4,'hi','nice',35]
b=[]
for i in range(len(a)):
    b.append(a[i]*2)
b #it is a slow process

[8, 'hihi', 'nicenice', 70]

In [7]:
a=[4,'hi','nice',35]
b=[]
for val in a :
    b.append(val*2)
b  #fast process

[8, 'hihi', 'nicenice', 70]

In [8]:
a*2

[4, 'hi', 'nice', 35, 4, 'hi', 'nice', 35]

In [10]:
# comprehension
# # for loop statement which are of one line 
# List comprehension 
      ## [output for-loop] - map
      ## [output for-loop if-condition] - Filter
#  dictionary comprehension 
#       {key_op:value_op for_loop}
# set comprehension
#      {output for loop}
# Generator comprehension
#       {output for-loop}

b=[val*3 for val in a]
b

[12, 'hihihi', 'nicenicenice', 105]

In [11]:
k=[4,7,3,67,34,2,4,45,22,11,9,8]

In [13]:
# k[0]%2==0
p=[val for val in k if val %2 == 0]
p

[4, 34, 2, 4, 22, 8]

In [18]:
r=[val for val in k if val %2==1 and val>10]

In [19]:
r

[67, 45, 11]

In [20]:
r1=[val for val in k if not val %2==1 and val>10]
r1

[34, 22]

In [24]:
p=[]
for val in k:
    if val%2 ==0:
        p.append(val//2)
    else:
        p.append(val*2)
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [27]:
p=[val * 2 if val %2 ==1 else val//2 for val in k]

In [28]:
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [29]:
# Task : multiply by 2 if odd otherwise check if it is less then 20 then do // 2 otherwise do  not do anyhting

In [31]:
p1=[val *2 if val %2==1 else ( val//2 if val <20 else val) for val in k ]

In [32]:
p1

[2, 14, 6, 134, 34, 1, 2, 90, 22, 22, 18, 4]

In [33]:
m={val : val**2 for val in k if val %2 == 0}
m

{4: 16, 34: 1156, 2: 4, 22: 484, 8: 64}

In [36]:
for i in m:
    print(i)

4
34
2
22
8

In [38]:
for i,j in m.items():
   print(i,j
         )

4 16
34 1156
2 4
22 484
8 64

In [39]:
#  user defined functions

In [40]:
def function_ka_name():
    print('ye kuch kr dega')

In [41]:
function_ka_name()

ye kuch kr dega

In [43]:
def function_ka_name():
    
    '''    ye wala function ais ehe hai 
'''
    print('ye kuch na kre')

In [44]:
help(function_ka_name)

Help on function function_ka_name in module __main__:

function_ka_name()
    ye wala function ais ehe hai

In [45]:
#pass function 
#  while a>5:
#      pass
#  print('bye')
#  print('bye')

# # infinite loop

In [46]:
def ekOr(ekValue, dusriValue):
    print('kuch bhi')
    return ekValue*dusriValue

In [47]:
ekOr(4,5)

kuch bhi

20

In [48]:
def meriMarzi(ekValue, dusriValue):
    print('kuch bhi')
    return (ekValue*dusriValue)+ekValue

In [50]:
# meriMarzi(10,12)  
#      or 
meriMarzi(dusriValue=10,ekValue=12)

kuch bhi

132

In [53]:
# meriMarzi(dusriValue=10,12)
meriMarzi(12,dusriValue=10)

kuch bhi

132

In [58]:
def meriMarzi(ekValue=1, dusriValue=1,teesra=0):
    print('kuch bhi')
    return (ekValue*dusriValue)+ekValue-teesra

In [59]:
meriMarzi(teesra=3)

kuch bhi

-1

In [60]:
meriMarzi(2,4,5)

kuch bhi

5

In [65]:
def kuchOr(x=10,*v,**u):
    return[i*x for i in v],u

In [66]:
kuchOr(3,6,8)

([18, 24], {})

In [67]:
kuchOr(3,6,8, somedata=[3,4,5,6])

([18, 24], {'somedata': [3, 4, 5, 6]})

In [1]:
## function

In [3]:
def doubler(x):
    return x*2
m=doubler(34)
print(m)

68

In [5]:
doubler_L=lambda x:x*2
doubler_L

In [6]:
doubler_L(34)

68

In [7]:
oddeve=lambda x:'odd'if x%2 else 'Even'
oddeve(45)

'odd'

In [8]:
a=(lambda x:x*2)(10)
a

20

In [11]:
b=(lambda x:'odd' if x%2 else 'Even')(343325)
b

'odd'

In [12]:
k=lambda:print('hi')
k1=k()

hi

In [13]:
m=k()
print(m)

hi
None

In [14]:
# scope of variable 
# global
# local
# non local

In [16]:
x=10
def abc():
    print(x)
    abc()

In [17]:
x=10
def abc():
    x=30
    # print(X)
print(x)
abc()
print(x)

10
10

In [18]:
x=10
def abc():
    global x
    x=30
    # print(x)
print(x)
abc()
print(x)

10
30

In [20]:
x=10
def abc():
    # global x
    x=30
    y=15
    def xyz():
        nonlocal y
        y=28
        print('from xyz',x)
    xyz()
    print(y)
print(x)
abc()
print(x)

10
from xyz 30
28
10

In [1]:
# working with python modules

In [2]:
import numpy
numpy.version.version

'1.24.2'

In [3]:
import pandas as pd
pd.__version__

'1.5.3'

In [4]:
# from,import,as